:root {
    --color-primary: #6725a8;
    --color-text-gray: #A0A0A4;
    --color-text-gray-2: #9797AF;
    --color-orange: #FF3B30;
    --color-magenta: #CB11AB;
    --color-cart-ammount: #f45123;
    --color-primary-faded: #9b6ec4; 
    --color-input-background: #8551b9;
    --color-page-background: #f6f6fa;
    --color-white: #fff;
    --color-text-translucent:  rgba(255, 255, 255, 0.70);
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('./assets/fonts/SegoeUI.eot') format('embedded-opentype'),
		url('./assets/fonts/SegoeUI.woff') format('woff'),
		url('./assets/fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('./assets/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('./assets/fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('./assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/SegoeUI-Bold.woff') format('woff'),
		url('./assets/fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
    overflow-x: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
}

/* Navbar */

.navbar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px;
    background-color: var(--color-primary);
    gap: 36px;
}

.navbar-items__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: solid 1px var(--color-primary-faded);
    border-radius: 8px;
}

.logo-container {
    height: 48px;
    width: 106px;
}

.logo-container span {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.6px; 
    line-height: 74%;
    font-variant: all-small-caps;
    color: var(--color-white);
}

.navbar-items__center {
    width: 100%;
}

.search-bar {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 48px;
    background-color: var(--color-input-background);
    border-radius: 36px;
    padding: 0px 20px; 
    align-items: center;
}

.search-bar button {
    height: 24px;
}

.search-bar input {
    all: unset;
    width: 100%;
    color: var(--color-white);
    font-size: 18px;
    margin-bottom: 4px;
}

.navbar-items__right {
    display: flex;
    gap: 40px;
}

.user-container, 
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 56px;
    gap: 6px;
}

.user-container span, 
.cart-container span{
    color: var(--color-text-translucent);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
}

.user-container button, 
.cart-container button {
    height: 28px;
}

.cart-container {
    position: relative;
}

.cart-ammount {
    position: absolute;
    background-color: var(--color-cart-ammount);
    border-radius: 50%;
    font-size: 10px !important;
    display: flex;
    align-items: center;
    width: 16px;
    justify-content: center;
    height: 16px;
    right: 5px;
    top: -2px;
}

/* Main */

.main {
    display: flex;
    background-color: var(--color-page-background);
    border-radius: 24px;
    gap: 32px;
    padding: 24px;
    padding-bottom: 50px;
}

.main-items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

}

/* Cart */

.cart {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
}

.cart h1 {
    font-family: 'Segoe UI';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.28px;
    margin-top: 10px;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.select-all {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-all__checkbox {
    width: 24px !important;
    height: 24px;
}

.select-all span {
    width: 100%;
    height: 24px;
    line-height: 16px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: lightgrey 1px solid;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.cart-item__left {
    display: flex;
    gap: 16px;
}

.image-with-checkbox {
    display: flex;
    align-items: center;
    gap: 11px;
    height: 96px;
}

.image-with-checkbox > img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
}

.image-with-checkbox > button {
    width: 24px !important;
    height: 24px;
}

.cart-item__description {
    width: 275px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 24px;
    cursor: pointer;
}

.description-attributes {
    display: flex;
    gap: 16px;
    font-size: 13px; 
}

.description-location {
    color: var(--color-text-gray-2);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: -2px;
}

.description-company {
    color: var(--color-text-gray-2);
    font-size: 13px;
    display: flex;
    gap: 6px;
    margin-top: -4px;
    line-height: 16px;
}

.cart-item__right {
    display: flex;
    gap: 16px;
    height: 100px;
}

.counter-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    width: 100px;
    height: 44px;
    border-radius: 8px;
}

.counter span {
    margin-bottom: 6px;
    user-select: none;
}

.counter button {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.remaining-stock {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; 
    color: var(--color-orange);
    margin-top: -2px;
}

.icon-tray {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.icon-tray img:hover {
    cursor: pointer;
    color: var(--color-primary);
    filter: invert(38%) sepia(45%) saturate(3883%) hue-rotate(338deg) brightness(94%) contrast(91%);
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 110px;
    text-align: end;
    margin-top: -5px;
    align-items: end;
}

.price-value {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.price-currency {
    font-weight: 700;
    line-height: 24px;
}

.no-discount-price {
    font-size: 13px; 
    color: var(--color-text-gray);
    border-bottom: var(--color-text-gray) 1px dashed;
    width: fit-content;
    text-align: end;
    position: relative;
}

.no-discount-price::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-text-gray);
    top: 10px;
    left: 0;
}

.missing {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.missing .select-all > span {
    font-weight: 600;
    line-height: 24px;
}

.missing .select-all > button {
    width: 24px !important;
    height: 24px;
    margin-top: 2px;
}

.missing-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: lightgrey 1px solid;
}

.missing-item {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.missing-item__left {
    display: flex;
    gap: 16px;
}

.missing-item__left > img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    filter: grayscale(100%);
}

.missing-item__description {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-text-gray-2);
}

.missing-item__attributes {
    display: flex;
    gap: 16px;
    font-size: 13px; 
}

.missing-item__right {
    padding-right: 127px;
    margin-top: -2px;
}

.missing-item:last-child {
    margin-top: -4px;
}

.action-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 7px; /* -_- */
}

.action-card {
    padding: 24px;
    padding-top: 16px;
    background-color: var(--color-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-card:first-child {
    padding-bottom: 22px;
}

.action-card__header {
    display: flex;
    justify-content: space-between;
}

.action-card__header button {
    color: var(--color-magenta);
    font-weight: 700;
    line-height: 24px;
    margin-top: 6px; 
}

.action-card__header h2 {
    font-weight: 700;
    line-height: 32px; 
    font-size: 24px; 
    letter-spacing: -0.24px; 
}

.action-card__entry {
    display: flex;
    gap: 32px;
}

.card-entry-title {
    width: 153px;
    font-weight: 600;
    line-height: 24px;
}

.delivery-rating {
    font-size: 13px; 
    display: flex;
    gap: 4px;
    margin-top: 5px;
}
.delivery-rating > p {
    margin-left: 4px;
}

.delivery-images {
    display: flex;
    gap: 8px;
}

.delivery-images img {
    width: 40px;
    height: 56px;
    border-radius: 8px;
}

.card-free-delivery {
    margin-top: 6px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 13px; 
    line-height: 16px;
}

.card-free-delivery div:nth-child(2) {
    margin-top: -4px;
}

.grey-bg-rounded {
    display: flex;
    width: 32px;
    height: 24px;
    justify-content: center;
    align-items: center; 
    background-color: var(--color-page-background);
    border-radius: 4px;
}

.payment-card-display {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.payment-card-display span {
    margin-left: 4px;
}

.text-gray-sm {
    font-size: 13px; 
    color: var(--color-text-gray-2);
    line-height: 16px;
}

.form-container form {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 22px;
    margin-bottom: 2px;
}

.field-holder {
    position: relative;
    margin-bottom: 16px;
}

.field-holder input {
    border: 0;
    border-bottom: solid 1px var(--color-text-gray-2);
    outline: none;
    padding: 2px 0px;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
}

.field-holder label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-text-gray-2);
    transition: all 0.2s ease-in-out;
}

.field-holder input:focus + label,
.field-holder input:not(:placeholder-shown) + label {
    top: -20px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
}

.field-holder:nth-child(1),
.field-holder:nth-child(2) {
    width: 338px;
}

.form-error {
    color: var(--color-orange);
    font-size: 12px;
    line-height: 16px;
    margin-top: -4px;
}

.input-error {
    border-bottom: solid 1px var(--color-orange) !important;
    color: var(--color-orange) !important;
}

/* Checkout */

.main-checkout {
    width: 48%;
}

.checkout {
    display: flex;
    flex-direction: column;
    margin-top: -2px;
    gap: 24px;
    padding: 24px;
    padding-top: 16px;
    border-radius: 16px;
    background-color: var(--color-white);
    height: fit-content;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15); 
}

.checkout-rundown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-total h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.28px;
}

.checkout-price {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.28px;
}

.small-som {
    font-size: 20px;
    margin-left: 6px;
}

.rundown-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rundown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
}

.checkout__header {
    display: flex;
    justify-content: space-between;
}

.checkout__header h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -1px;
}

.checkout__header button img {
    height: 22px;
    margin-top: 2px;
}

.checkout-address {
    font-size: 13px;
    margin-top: -2px;
}

.checkout-delivery-date {
    font-size: 13px;
    color: var(--color-magenta);
    border-bottom: 1px dashed #f5d0ee;
    width: fit-content;
    margin-top: 3px;
    cursor: pointer;
}

.checkout-delivery__modal {
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch; 
    border-radius: 8px; 
    background-color: var(--color-page-background);
    margin-top: 12px;
    font-size: 13px;
    line-height: 16px;
}

.green-underline {
    color: #0CB477;
    border-bottom: 1px dashed #c6e9e0;
}

.card-choice {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    margin-top: 1px;
}

.checkout-payment__modal {
    display: flex;
    padding: 8px 8px 12px 8px;
    margin-top: 15px;
    font-size: 13px; 
    line-height: 16px;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px; 
    background-color: var(--color-page-background);
}

.instant-pay {
    display: flex;
    align-items: center;
    gap: 8px;
}

.instant-pay > button{
    width: 22px !important;
    height: 22px;
}

.checkout-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.checkout-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    color: white;
    line-height: 24px;
    background-color: var(--color-magenta);
    font-weight: 700;
    border-radius: 8px;
}

.user-agreement {
    display: flex;
}

.user-agreement span {
    font-size: 13px;
}

.user-agreement img {
    width: 13px;
    margin-top: -10px;
    margin-right: 8px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.footer span {
    font-size: 13px;
    margin: 24px;
    color: var(--color-text-translucent);
}

