:root {
    --color-primary: #6725a8;
    --color-primary-faded: #9b6ec4;
    --color-page-background: #f6f6fa;
    --color-white: #fff;
    --color-text-translucent:  rgba(255, 255, 255, 0.70);
}

@font-face {
    font-family: 'Segoe UI';
    src: url(./assets/fonts/Segoe\ UI.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
    overflow-x: none;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Navbar */

.navbar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px;
    background-color: var(--color-primary);
    gap: 36px;
}

.navbar-items__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: solid 1px var(--color-primary-faded);
    border-radius: 8px;
}

.logo-container {
    height: 48px;
    width: 106px;
}

.logo-container span {
    font-style: normal; 
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.5px; 
    line-height: 74%;
    font-variant: all-small-caps;
    color: var(--color-white);
}

.navbar-items__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Main */

.main {
    display: flex;
    background-color: var(--color-page-background);
    height: 100vh;
    border-radius: 24px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.footer span {
    font-size: 13px;
    margin: 24px;
    color: var(--color-text-translucent);
}