:root {
    --color-primary: #6725a8;
    --color-text-gray: #A0A0A4;
    --color-text-gray-2: #9797AF;
    --color-orange: #FF3B30;
    --color-magenta: #CB11AB;
    --color-cart-ammount: #f45123;
    --color-primary-faded: #9b6ec4; 
    --color-input-background: #8551b9;
    --color-white: #fff;
    --color-text-translucent:  rgba(255, 255, 255, 0.70);
    --color-modal-background: rgba(0,0,0,0.5);
    --box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    --color-page-background: #f6f6fa;
    --box-shadow-tooltip: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15); 
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('./assets/fonts/SegoeUI.eot') format('embedded-opentype'),
		url('./assets/fonts/SegoeUI.woff') format('woff'),
		url('./assets/fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('./assets/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('./assets/fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./assets/fonts/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('./assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/SegoeUI-Bold.woff') format('woff'),
		url('./assets/fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Caps';
    src: url('./assets/fonts/suismallcaps.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
    overflow-x: none;
    cursor: default;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
}

/* Navbar */

.navbar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px;
    background-color: var(--color-primary);
    gap: 36px;
}

.navbar-items__left {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: -4px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: solid 1px var(--color-primary-faded);
    border-radius: 8px;
    cursor: pointer;
}

.logo-container {
    height: 48px;
    width: 106px;
}

.logo-container span {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px; 
    line-height: 64%;
    text-transform: lowercase;
    letter-spacing: 0.56px; 
    color: var(--color-white);
    font-family: 'Segoe UI Caps', sans-serif;
}

.mobile-menu-container {
    display: none;
}

.mobile-search {
    display: none;
}

.mobile-logo-container {
    display: none;
    width: 198px;
}

.mobile-logo-container h1 {
    color: var(--color-white);
    font-size: 26px; 
    font-weight: 700;
    font-family: 'Segoe UI Caps', sans-serif;
    letter-spacing: 0.76px;
    text-transform: lowercase;
}

.navbar-items__center {
    width: 100%;
}

.search-bar {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 48px;
    background-color: var(--color-input-background);
    border-radius: 36px;
    padding: 0px 20px; 
    align-items: center;
    transition: all 150ms ease;
}

.search-bar:hover {
    cursor: pointer;
    background-color: #9f76c8;
}

.search-bar.focused {
    background-color: #9f76c8;
}

.search-bar button {
    height: 24px;
}

.search-bar input {
    all: unset;
    width: 100%;
    color: var(--color-white);
    font-size: 18px;
    margin-bottom: 4px;
}

.search-bar input::placeholder {
    color: #fff;
}

.navbar-items__right {
    display: flex;
    gap: 40px;
    margin-left: -5px;
}

.user-container, 
.cart-container {
    color: var(--color-text-translucent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 56px;
    gap: 6px;
    cursor: pointer;
}

.user-container span, 
.cart-container span{
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
}

.user-container:hover,
.cart-container:hover {
    color: var(--color-white);
}

.user-container button, 
.cart-container button {
    height: 28px;
}

.cart-container {
    position: relative;
    padding-top: 1px;
    padding-right: 2px;
}

.user-container {
    padding-top: 1px;
    padding-left: 2px;
}

.cart-ammount {
    color: var(--color-white);
    position: absolute;
    background-color: var(--color-cart-ammount);
    border-radius: 50%;
    font-size: 10px !important;
    display: flex;
    align-items: center;
    width: 16px;
    justify-content: center;
    height: 16px;
    right: 2px;
    top: -4px;
}

/* Main */

.main {
    display: flex;
    background-color: var(--color-page-background);
    border-radius: 24px;
    gap: 32px;
    padding: 24px;
    padding-bottom: 50px;
}

.main-items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

/* Cart */

.cart {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
}

.cart h1 {
    font-family: 'Segoe UI';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.28px;
    margin-top: 10px;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -1px;
    margin-top: -1px;
}

.select-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: -1px;
}

.select-all__open {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
}

.select-all__open > span {
    height: 24px;
    margin-top: -2px;
}

.select-all__closed {
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    font-weight: 600;
}

.select-all__checkbox {
    width: 24px !important;
    height: 24px;
}

#toggle-cart {
    width: 22px;
    height: 22px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: lightgrey 1px solid;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.cart-item:hover .icon-tray{
    visibility: visible;
    opacity: 1;
}

.cart-item__left {
    display: flex;
    gap: 16px;
}

.image-with-checkbox {
    display: flex;
    align-items: center;
    gap: 11px;
    height: 96px;
}

.item-size-display-mobile {
    display: none;
}

.image-with-checkbox > img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
}

.image-with-checkbox > button {
    width: 24px !important;
    height: 24px;
}

.cart-item__description {
    width: 275px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 24px;
    cursor: pointer;
}

.description-attributes {
    display: flex;
    gap: 16px;
    font-size: 13px; 
}

.description-location {
    color: var(--color-text-gray-2);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: -2px;
}

.description-company {
    color: var(--color-text-gray-2);
    font-size: 13px;
    display: flex;
    gap: 6px;
    margin-top: -4px;
    line-height: 16px;
}

.cart-item__right {
    display: flex;
    gap: 16px;
    height: 100px;
}

.counter-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    width: 100px;
    height: 44px;
    border-radius: 8px;
}

.counter span {
    margin-bottom: 6px;
    user-select: none;
}

.counter button {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    touch-action: manipulation;
}

.remaining-stock {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; 
    color: var(--color-orange);
    margin-top: -2px;
}

.icon-tray {
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    display: flex;
    justify-content: end;
    gap: 16px;
}

.icon-tray img:last-child:hover {
    cursor: pointer;
    filter: invert(38%) 
            sepia(45%) 
            saturate(3883%) 
            hue-rotate(338deg) 
            brightness(94%) 
            contrast(91%);
}

.icon-tray img:first-child:hover {
    cursor: pointer;
    filter: invert(23%) 
            sepia(71%) 
            saturate(6543%) 
            hue-rotate(299deg) 
            brightness(87%) 
            contrast(101%);
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 110px;
    text-align: end;
    margin-top: -5px;
    align-items: end;
}

.price-container:nth-child(2) {
    margin-top: -2px;
}

.price-value {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.price-currency {
    font-weight: 700;
    line-height: 24px;
}

.no-discount-price {
    font-size: 13px; 
    color: var(--color-text-gray);
    border-bottom: var(--color-text-gray) 1px dashed;
    width: fit-content;
    text-align: end;
}

.no-discount-price::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-text-gray);
    top: 10px;
    left: 0;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    display: none;
}

.missing {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.missing .select-all > span {
    font-weight: 600;
    line-height: 24px;
}

.missing .select-all > button {
    width: 24px !important;
    height: 24px;
    margin-top: 2px;
}

.missing-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: lightgrey 1px solid;
}

.missing-item {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.missing-item:hover .icon-tray{
    visibility: visible;
    opacity: 1;
}

.missing-item__left {
    display: flex;
    gap: 16px;
}

.missing-item__left > img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    filter: grayscale(100%);
}

.missing-size-display-mobile {
    display: none;
}

.missing-item__description {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-text-gray-2);
}

.missing-item__attributes {
    display: flex;
    gap: 16px;
    font-size: 13px; 
}

.missing-item__right {
    padding-right: 127px;
    margin-top: -2px;
}

.missing-item:last-child {
    margin-top: -4px;
}

.action-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 7px; /* -_- */
}

.action-card {
    padding: 24px;
    padding-top: 16px;
    background-color: var(--color-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-card:first-child {
    padding-bottom: 22px;
}

.action-card__header {
    display: flex;
    justify-content: space-between;
}

.action-card__header button {
    color: var(--color-magenta);
    font-weight: 700;
    line-height: 24px;
    margin-top: 6px; 
}

.action-card__header h2 {
    font-weight: 700;
    line-height: 32px; 
    font-size: 24px; 
    letter-spacing: -0.24px; 
}

.action-card__entry {
    display: flex;
    gap: 32px;
}


.card-entry-title {
    width: 153px;
    font-weight: 600;
    line-height: 24px;
}

.delivery-rating {
    font-size: 13px; 
    display: flex;
    gap: 4px;
    margin-top: 5px;
}
.delivery-rating > p {
    margin-left: 4px;
}

.delivery-images {
    display: flex;
    gap: 8px;
}

.delivery-images img {
    width: 40px;
    height: 56px;
    border-radius: 8px;
}

.card-image-container {
    position: relative;
    height: 56px;
}

.card-product-qty {
    position: absolute;
    top: -8px;
    right: -5px;
    color: var(--color-white);
    background-color: var(--color-cart-ammount);
    display: inline-block;
    height: 16px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
    border-radius: 16px;
}

.card-free-delivery {
    margin-top: 6px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 13px; 
    line-height: 16px;
}

.card-free-delivery div:nth-child(2) {
    margin-top: -4px;
}

.grey-bg-rounded {
    display: flex;
    width: 32px;
    height: 24px;
    justify-content: center;
    align-items: center; 
    background-color: var(--color-page-background);
    border-radius: 4px;
}

.payment-card-display {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.payment-card-display span {
    margin-left: 4px;
}

.text-gray-sm {
    font-size: 13px; 
    color: var(--color-text-gray-2);
    line-height: 16px;
}

.form-container form {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 22px;
    margin-bottom: 2px;
}

.field-holder {
    position: relative;
    margin-bottom: 16px;
}

.field-holder input {
    border: 0;
    border-bottom: solid 1px var(--color-text-gray-2);
    outline: none;
    padding: 2px 0px;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
}

.field-holder label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-text-gray-2);
    transition: all 0.2s ease-in-out;
    cursor: text;
}

.field-holder input:focus + label,
.field-holder input:not(:placeholder-shown) + label {
    top: -20px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
}

.field-holder:nth-child(1),
.field-holder:nth-child(2) {
    width: 338px;
}

.form-error {
    color: var(--color-orange);
    font-size: 12px;
    line-height: 16px;
    margin-top: -4px;
}

.input-error {
    border-bottom: solid 1px var(--color-orange) !important;
    color: var(--color-orange) !important;
}

/* Checkout */

.main-checkout {
    width: 48%;
}

.checkout {
    display: flex;
    flex-direction: column;
    margin-top: -2px;
    gap: 24px;
    padding: 24px;
    padding-top: 16px;
    border-radius: 16px;
    background-color: var(--color-white);
    height: fit-content;
    box-shadow: var(--box-shadow);
    position: -webkit-sticky;
    position: sticky;
    top: 20px;  
}

.checkout-rundown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-total h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.28px;
}

.checkout-price {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.28px;
}

.small-som {
    font-size: 20px;
    margin-left: 6px;
}

.rundown-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rundown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
}

.checkout__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.checkout__header h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -1px;
}

.checkout__header button img:first-child {
    margin-left: 2px;
    margin-top: 2px;
}

.checkout-address {
    font-size: 13px;
    margin-top: -2px;
    padding-right: 16px;
}

.checkout-delivery-date {
    font-size: 13px;
    color: var(--color-magenta);
    border-bottom: 1px dashed #f5d0ee;
    width: fit-content;
    margin-top: 3px;
    cursor: pointer;
}

.checkout-delivery__button {
    width: 22px;
    height: 22px;
}

.checkout-delivery__modal {
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch; 
    border-radius: 8px; 
    background-color: var(--color-page-background);
    margin-top: 12px;
    font-size: 13px;
    line-height: 16px;
}

.card-choice {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 13px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.card-choice .card-number {
    margin-top: -1px;
}

.checkout-payment__modal {
    display: flex;
    padding: 8px 8px 12px 8px;
    margin-top: 15px;
    font-size: 13px; 
    line-height: 16px;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px; 
    background-color: var(--color-page-background);
}

.instant-pay {
    display: flex;
    align-items: center;
    gap: 8px;
}

.instant-pay > button{
    width: 22px !important;
    height: 22px;
}

.checkout-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.checkout-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    color: white;
    line-height: 24px;
    background-color: var(--color-magenta);
    font-weight: 700;
    border-radius: 8px;
}

.checkout-button button:hover {
    background-color: #e413c0;
}

.user-agreement {
    display: flex;
}

.user-agreement span {
    font-size: 13px;
}

.user-agreement img {
    width: 13px;
    margin-top: -10px;
    margin-right: 8px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.footer span {
    font-size: 13px;
    margin: 24px;
    color: var(--color-text-translucent);
}

/* Modals */

.modal-payment {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: none; 
    background-color: var(--color-modal-background);
}

.modal-content-payment {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 16px;
    width: 400px;
    height: 408px;
    padding: 22px;
    padding-bottom: 24px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    height: 28px;
}

.modal-header button {
    width: fit-content;
    height: 24px !important;
}

.modal-header h2 {
    font-weight: 700; 
    letter-spacing: -0.2px;
    font-size: 20px; 
}

.modal-payment-methods {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: scroll;
}

.modal-payment-method {
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
    gap: 8px;
}

.modal-card-choice {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
}

.modal-payment-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal-payment-body > button {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 44px;
    width: 164px;
    border-radius: 8px; 
    background-color: var(--color-magenta);
    font-weight: 700; 
    color: var(--color-white);
}

.modal-payment-body > button:hover {
    background-color: #e413c0;
}


.modal-address {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: none; 
    background-color: var(--color-modal-background);
}

.modal-content-address {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 16px;
    width: 500px;
    height: auto;
    padding: 22px;
    padding-bottom: 24px;
}

.modal-button-select {
    display: flex;
    gap: 8px;
    height: 36px;
    width: 100%;
}

.modal-button-select button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 36px;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    font-size: 13px; 
    font-weight: 700;
}

.modal-button-select button:last-child {
    border: 2px solid var(--color-magenta);
}

.modal-subheading {
    font-size: 13px; 
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 8px;
}

.modal-address-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal-address-body > button {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 44px;
    width: 164px;
    border-radius: 8px; 
    background-color: var(--color-magenta);
    font-weight: 700; 
    color: var(--color-white);
}

.modal-address-body > button:hover {
    background-color: #e413c0;
}

.modal-address-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.deliverypoint-address-options {
    display: none;
}

.modal-address-option {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
    min-height: 36px;
}

.modal-address-option:last-child {
    margin-bottom: 33px;
}

.modal-address-option img {
    width: 20px;
    height: 20px;
}

.modal-address-option > button {
    height: 20px !important;
    width: 20px !important;
    margin-left: 20px;
}

.modal-address-option > button img:hover {
    cursor: pointer;
    filter: invert(38%) 
            sepia(45%) 
            saturate(3883%) 
            hue-rotate(338deg) 
            brightness(94%) 
            contrast(91%);
}

.modal-address-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    line-height: 24px; 
    font-size: 16px;
    margin-top: -2px;
    width: 100%;
}

.modal-delivery-rating {
    font-size: 13px; 
}

.modal-delivery-rating img {
    width: 12px;
    height: 12px;
}
/* Toopltips */

.tooltip-producer {
    display: relative;
}

.tooltip-producer-body {
    visibility: hidden;
    transition: visibility 0s, opacity 0.2s linear;
    opacity: 0;
    position: absolute;
    left: 148px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    width: 280px;
    height: 104px;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    box-shadow: var(--box-shadow-tooltip);
    border-radius: 8px;
}

.tooltip-producer-body h2{
    font-weight: 700; 
    font-size: 13px;
}

.tooltip-producer:hover .tooltip-producer-body {
    visibility: visible;
    opacity: 1;
}

.tooltip-discount {
    position: relative;
    cursor: pointer;
}

.tooltip-discount-body {
    visibility: hidden;
    transition: visibility 0s, opacity 0.2s linear;
    opacity: 0;
    position: absolute;
    display: flex;
    right: -10px;
    flex-direction: column;
    gap: 6px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    width: 239px;
    height: 64px;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    box-shadow: var(--box-shadow-tooltip);
    border-radius: 8px;
}

.tooltip-discount-body div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tooltip-discount-body div p:first-child {
    color: var(--color-text-gray-2);
}

.tooltip-discount:hover .tooltip-discount-body {
    visibility: visible;
    opacity: 1;
}

.green-underline {
    color: #0CB477;
    border-bottom: 1px dashed #c6e9e0;
}


.tooltip-delivery {
    position: relative;
    cursor: pointer;
}

.tooltip-delivery-body {
    visibility: hidden;
    transition: visibility 0s, opacity 0.2s linear;
    opacity: 0;
    position: absolute;
    display: flex;
    right: -28px;
    bottom: 0px;
    flex-direction: column;
    gap: 6px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    width: 239px;
    width: 288px; 
    height: 56px;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    box-shadow: var(--box-shadow-tooltip);
    border-radius: 8px;
}

.green-underline:hover .tooltip-delivery-body {
    visibility: visible;
    opacity: 1;
}
/*Mobile navbar*/
.taskbar {
    display: none;
    height: 56px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
}
.taskbar-icon-container {
    cursor: pointer;
}
.taskbar-cart-icon-container {
    position: relative;
}
.taskbar-cart-icon-quantity {
    color: var(--color-white);
    position: absolute;
    background-color: var(--color-cart-ammount);
    border-radius: 50%;
    font-size: 10px !important;
    display: flex;
    align-items: center;
    width: 16px;
    justify-content: center;
    height: 16px;
    right: -4px;
    top: -4px;
}

/* Media querries */

@media screen and (max-width: 1000px) {
    .main {
        flex-direction: column;
    }
    .main-checkout {
        width: 100%;
    }
    .checkout {
        margin-top: 0px;
        position: static;
    }
}

@media screen and (max-width: 720px) {
    .main {
        padding: 16px;
        height: fit-content;
    }
    .logo-container {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .cart-item__description {
        font-size: 14px;
    }

    .menu-container {
        display: none;
    }
    .mobile-menu-container {
        display: flex;
    }
    .search-bar {
        display: none;
    }
    .user-container,
    .cart-container {
        display: none;
    }
    .navbar {
        height: 56px;
        margin: 0;
        padding-left: 14px;
        padding-top: 2px;
        padding-right: 14px;
        gap: 0;
    }
    .mobile-logo-container {
        display: flex;
        margin-bottom: 10px;
    }

    .mobile-search {
        display: flex;
    }

    .navbar-items__center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .navbar-items__center,
    .navbar-items__left,
    .navbar-items__right {
        margin: 0;
    }
    .cart h1 {
        font-size: 20px;
        margin-top: -6px;
        margin-bottom: -14px;
    }
}

@media screen and (max-width: 650px) {
    .main {
        padding: 0px;
    }
    .main-items {
        gap: 29px;
    }
    .cart {
        padding: 16px;
        padding-bottom: 0px;
    }
    .missing {
        padding: 16px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .missing-item {
        flex-direction: column;
    }
    .cart-item {
        flex-direction: column;
    }
    .item-size-display {
        display: none;
    }
}


@media screen and (max-width: 650px) {
    .cart-items {
        border: none;
        gap: 0px;
    }
    .cart-item {
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        position: relative;
        margin-left: 1px;
    }
    .cart-item__left {
        height: fit-content;
    }
    .cart-item__description {
        margin-top: 26px;
        margin-left: 1px;
        height: auto;
    }
    .cart-item__right {
        display: flex;
        justify-content: space-between;
        height: auto;
        margin-top: 12px;
        margin-bottom: 15px;
    }
    .price-container {
        flex-direction: row;
        position: absolute;
        top: 15px;
        left: 97px;
        width: auto;
        height: auto;
    }
    .price-value {
        font-size: 16px;
    }
    .counter-container {
        flex-direction: row;
        height: auto;
        width: 100%;
    }
    .image-with-checkbox {
        position: relative;
        margin-top: 6px;
        height: auto;
        align-items: baseline;
        margin: 0;
    }
    .image-with-checkbox img{
        width: 80px;
        height: 106px;
    }
    .cart-checkbox {
        position: absolute;
        height: 22px;
        width: 22px;
        top: 4px;
        left: 3px;
    }
    .cart-checkbox img {
        height: 22px;
        width: 22px;
    }
    .item-size-display-mobile {
        display: flex;
        align-items: center;    
        justify-content: center;
        width: 22px;
        height: 22px;
        padding-bottom: 3px;
        position: absolute;
        font-size: 14px;
        background-color: #fff;
        bottom: 4px;
        left: 4px;
        border-radius: 6px;
    }
    .cart-item__description p {
        display: -webkit-box;
        max-width: 400px;
        line-height: 20px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .description-location {
        margin-bottom: 0;
        line-height: 16px;
    }
    .cart-item__description p br {
        display: none;
    }
    .description-company {
        display: none;
    }
    .icon-tray {
        opacity: 1;
        visibility: visible;
        margin-right: 12px;
        gap: 24px;
    }
    .counter-container {
        display: flex;
        justify-content: space-between;
    }
    .counter {
        height: 32px;
        width: 80px;
        border-radius: 4px;
    }
    .counter button {
        font-size: 16px;
    }
    .counter span {
        font-size: 14px;
    }
    .remaining-stock {
        margin-top: 6px;
        margin-right: 12px;
    }

    .missing-items {
        border-top: 0;
        gap: 19px;
    }
    .missing-item {
        border-top: 1px solid rgba(0, 0, 0, 0.10);
    }
    .missing-item__left {
        position: relative;
        margin-bottom: 12px;
    }
    .missing-item__left img {
        width: 80px;
        height: 106px;
    }
    .missing-size-display-mobile {
        display: flex;
        align-items: center;    
        justify-content: center;
        width: 22px;
        height: 22px;
        padding-bottom: 3px;
        position: absolute;
        font-size: 14px;
        background-color: #fff;
        bottom: 4px;
        left: 4px;
        border-radius: 6px;
    }
    .missing-size-display {
        display: none;
    }
    .missing-item__title{
        font-size: 14px;
        display: -webkit-box;
        max-width: 400px;
        line-height: 20px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .missing-item__right {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: 0px;
        padding: 0;
    }
    .missing-item__right .icon-tray {
        margin: 0;
        padding-right: 4px;
        padding-top: 4px;
        gap: 24px;
    }
    .missing .select-all {
        margin-bottom: 0px;
    }
    .action-card-container {
        gap: 12px;
    }
    .action-card {
        padding: 16px;
        padding-bottom: 24px;
        gap: 10px;
    }
    .action-card__header h2 {
        font-size: 20px;
        margin-top: -2px;
        line-height: 28px;
    }
    .action-card__header button {
        margin-top: 1px;
        line-height: 24px;
    }
    .action-card__entry {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 6px;
    }
    .card-entry-content .address-display {
        line-height: 24px;
    }
    .card-entry-content .delivery-rating {
        margin-top: 2px;
    }
    .delivery-date-entry {
        margin: 0;
        gap: 12px;
    }
    .delivery-date-entry {
        margin-bottom: 16px;
    }
    .card-free-delivery {
        margin: 0;
        margin-bottom: 4px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .form-container form {
        margin-top: 16px;
        gap: 32px;
        margin-bottom: -2px;
    }
    .field-holder {
        width: 100%;
    }
    .field-holder:nth-child(1),
    .field-holder:nth-child(2) {
        width: 100%;
    }
    .checkout {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        padding-top: 0px;
        margin-top: -7px;
        background-color: var(--color-page-background);
        border: none;
        box-shadow: none;
        height: fit-content;
        border-radius: 0px 0px 24px 24px ;
    }
    .checkout-total h1 {
        font-size: 20px;
    }
    .checkout-price {
        font-size: 20px;
    }
    .checkout__header,
    .checkout-address,
    .checkout-delivery-date {
        display: none;
    }
    .checkout-delivery__modal,
    .checkout-payment__modal {
        margin: 0;
        background-color: #f1ecf5;
    }
    .checkout-payment .card-choice {
        display: none;
    }
    .checkout-button {
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .taskbar {
        display: flex;
    }
    .tooltip-producer-body,
    .tooltip-discount-body,
    .tooltip-delivery-body {
        display: none;
    }
    .modal-content-address,
    .modal-content-payment {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .modal-header h2 {
        font-weight: 600; 
    }
}